body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #1280ee;
}

.container {
  max-width: 800px;
  margin: auto;
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
}

form {
  display: grid;
  gap: 10px;
  margin-bottom: 20px;
}

form input, form select, form button {
  padding: 8px;
  font-size: 14px;
}

button {
  cursor: pointer;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
}

button:hover {
  opacity: 0.9;
}

/* Botão de Adicionar */
.btn-adicionar {
  background: linear-gradient(90deg, #28a745, #218838); /* verde */
  width: 50%; 
  margin: auto; 
  display: block;
  
}

/* Botão de Editar */
.btn-editar {
  background-color: #17a2b8; 
  color: #000; 
}

/* Botão de Remover */
.btn-remover {
  background-color: #e74c3c; /* vermelho */
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

.Disponivel {
  color: #28a745;
  font-weight: bold;
}

.Emprestado {
  color: #dc3545;
  font-weight: bold;
}

.contadores, .filtro {
  margin: 15px 0;
  display: flex;
  gap: 15px;
}

/* Inputs */
form input, form select {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px;
}

/* Tabela */
table {
  margin-top: 20px;
  border-radius: 8px;
  overflow: hidden;
}

th {
  background-color: #f4f4f4;
}