body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #1280ee;
}

.container {
  max-width: 800px;
  margin: auto;
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
}

form {
  display: grid;
  gap: 10px;
  margin-bottom: 20px;
}

form input, form select, form button {
  padding: 8px;
  font-size: 14px;
}

button {
  cursor: pointer;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
}

button:hover {
  opacity: 0.9;
}

/* Botão de Adicionar */
.btn-adicionar {
  background-color: #28a745; /* verde */
}

/* Botão de Editar */
.btn-editar {
  background-color: #ffc107; /* amarelo */
  color: #000; /* preto pra melhor contraste */
}

/* Botão de Remover */
.btn-remover {
  background-color: #dc3545; /* vermelho */
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

.Disponivel {
  color: green;
  font-weight: bold;
}

.Emprestado {
  color: red;
  font-weight: bold;
}

.contadores, .filtro {
  margin: 15px 0;
  display: flex;
  gap: 15px;
}
